#игнорировать все файлы log
*.log
#игнорировать папку temp/
temp/
Folder1/Folder3/
#игнорировать файлы конфигурации среды
.env
.idea/
.vscode/
.vs/
#Игнорирование временных файлов
*.temp
*.swp
*.bak
#Игнорирование директорий
node_modules/
temp/
jablko/
